{% extends 'base.html.twig' %}

{% block body  %}

<h1>Bienvenue dans ce blog</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis sapiente exercitationem. Fugiat distinctio, unde ipsum placeat fuga debitis! Animi vero repellendus accusantium! Sequi placeat cumque officia facilis nihil blanditiis!</p>

{% endblock %}